body {
  margin: 0;
}

.layout,
.layout-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-nav {
  order: -1;
  background-color: #eceff4;
}

header {
  background-color: #3b4252;
  color: #fff;
  padding: 0 20px;
}

.CodeMirror {
  font-size: 14px;
  line-height: 20px;
}

.layout-content,
.layout-code {
  padding: 20px;
}

@media (min-width: 1000px) {
  .layout-body {
    flex-direction: row;
    flex: 1;
  }
  .layout-content,
  .layout-code {
    flex: 1;
  }
  .layout-nav {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
  .CodeMirror {
    font-size: 20px;
    line-height: 26px;
    padding: 10px;
    border-radius: 10px;
  }
  .layout-code {
    /* background-color: #2e3440; */
  }
}
