.container {
  margin: 20px;
}

.right-half,
.left-half {
  float: left;
  width: 50%;
}

.left-half ul li {
  margin-bottom: 15px;
}

h2 {
  margin-top: 0;
}

.CodeMirror {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: none;
  border-bottom: 2px dashed #1c4966;
  padding: 0;
  font-size: 18px;
  cursor: pointer;
  color: #222;
}

button:hover {
  border-bottom: 2px dashed transparent;
  color: #555;
}

@media only screen and (max-width: 900px) {
  .right-half {
    width: 100%;
  }
  .left-half {
    width: 100%;
  }
  .CodeMirror {
    font-size: 14px;
  }
}

code {
  padding: 2px 4px;
  color: #eee;
  background-color: #333;
  font-weight: bold;
  border-radius: 3px;
}
