h2 {
  margin-top: 0;
}

ol {
  padding: 0px 20px;
}

ol li {
  margin-bottom: 20px;
  font-size: 18px;
}

button {
  background-color: transparent;
  border: none;
  border-bottom: 2px dashed #3b4252;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  color: #3b4252;
  margin-left: 20px;
}

button:hover {
  border-bottom: 2px dashed transparent;
  color: #555;
}

code {
  padding: 2px 4px;
  color: #fefefe;
  background-color: #a3be8c;
  font-weight: bold;
  border-radius: 3px;
  font-size: 15px;
}
